* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

#container {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    max-width: 550px;
    transform: translate(-50%,-50%);
    padding: 1em;
}

#quote-content {
    border-radius: 0.8rem;
    background-color: pink;
    text-align: center;
}

#heading {
    font-size: 1.8rem;
    font-weight: 900;
    padding: 1em 1em 0.25em 1em;
}

#quote-area {
    display: flex;
    justify-content: center;
    padding: 1.5em 1.5em 0 1.5em;
}

#quote-area i{
    font-size: 1rem;
}

#quote-area i:first-child {
    margin: 3px 10px 0 0;
}

#quote-area i:last-child {
    display: flex;
    margin: 0 0 3px 10px;
    align-items: flex-end;
}


#quote-text {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
}

#quote-author p{
    padding: 0.5em 1em 0.5em 0.5em;
    color: grey;
    display: flex;
    justify-content: flex-end;
    font-size: 0.95rem;
    /* margin: 0; */
}

#divider {
    border-top: 2px solid red;
    margin: 0.5em 2em;
}

#reload button{
    padding: 1.45em;
    border-radius: 50%;
    border: 5px solid white;
    transform: translate(0%, 50%);
}